#root {
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
   
  }
  
  html {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  
  body {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    color: white;
  }

/*////////////////////////////////LIGHT MODE/////////////////////////////////////////*/

.L-Switch-Theme {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #f54029;
  border: solid whitesmoke 5px;
  color: whitesmoke;
  border-radius: 100px;
  font-family:'digital-7';
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.L-Switch-Theme:hover {
  background-color: whitesmoke;
  color: #f54029;
  border: solid #f54029 5px;
}
  
.L-Heading-Text {
  color: #f54029;
  font-size: 20px;
}

.L-Heading-Text:hover {
  background-color: #f54029;
}

.L-Connect {
  width: 40%;
  height: 10%;
  background-color: whitesmoke;
  color:  #f54029;
  border: solid #f54029 5px;
  border-radius: 40px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  font-family:'digital-7';
}
  
.L-Connect:hover {
  background-color: #f54029;
  color: whitesmoke;
  border: whitesmoke solid 5px;
}

.L-Enter {
  width: 50%;
  height: 40px;
  background-color: #f54029;
  color: whitesmoke;
  border: solid whitesmoke;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-family:'digital-7';
}

.L-Enter:hover {
  background-color: whitesmoke;
  color: #f54029;
  border-color: #f54029;

}
  
.L-Loader {
  border: solid #f54029 2px; 
  border-top: solid whitesmoke;
  border-right: solid whitesmoke; 
  border-left: solid whitesmoke;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.L-Mint-Tokens {
  width: 20%;
  height: 15%;
  background-color: whitesmoke;
  color: #f54029;
  border: solid 5px #f54029;
  border-radius: 50px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-family:'digital-7';
  position: absolute;
  top: 55%;
  left: 12%;
}

.L-Create-NFT {
  width: 20%;
  height: 15%;
  background-color: whitesmoke;
  color: #f54029;
  border: solid 5px #f54029;
  border-radius: 50px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-family:'digital-7';
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.L-Search-Collection {
  width: 20%;
  height: 15%;
  background-color: whitesmoke;
  color: #f54029;
  border: solid 5px #f54029;
  border-radius: 50px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-family:'digital-7';
  position: absolute;
  top: 55%;
  right: 12%;
}

.L-Mint-Tokens:hover {
  background-color: #f54029;
  color: whitesmoke;
  border-color: whitesmoke;
}

.L-Create-NFT:hover {
  background-color: #f54029;
  color: whitesmoke;
  border-color: whitesmoke;
}

.L-Search-Collection:hover {
  background-color: #f54029;
  color: whitesmoke;
  border-color: whitesmoke;
}


/*Landing Page*/

.L-Landing {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #FFB52E;
}

.L-Landing-Display-First {
  font-family:'digital-7';
  font-size: 100px;
  height: 200px;
  width: 1300px;
  background-color: whitesmoke;
  color: #f54029;
  border: solid #f54029 5px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 113.2px;
  margin-top: auto;
  margin-top: 10%;
  position: absolute;
  overflow: hidden;
}

.L-Landing-Display-Second {
  font-family:'digital-7';
  font-size: 100px;
  height: 200px;
  width: 1300px;
  background-color: whitesmoke;
  color: #f54029;
  border: solid #f54029 5px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  position: absolute;
  overflow: hidden;
}

.L-Landing-Display-First:hover {
  background-color: #f54029;
  color: whitesmoke;
  border: whitesmoke solid 5px;
}

.L-Landing-Display-Second:hover {
  background-color: #f54029;
  color: whitesmoke;
  border: whitesmoke solid 5px;
}

.L-Landing-Display-Text {
  animation: animatedText 13s linear infinite;
  width: 3000px;
  position: absolute;
  text-align: left;
}

@keyframes animatedText {
  from {
    transform: translateX(80%);
  }
  to {
    transform: translateX(-100%);
  }
}

.L-Landing-Inner {
  height: 500px;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18%;
  margin-bottom: 5%;
  padding: 10px;
  text-align: center;
  color: #f54029;
  
}


.L-Landing-Inner-Container-Left {
  border: solid 5px #f54029;
  background-color: whitesmoke;
  border-radius: 40px;
  padding: 10px;
  width: 100%;
  height: 90%
}

.L-Landing-Inner-Container-Middle {
  border: solid 5px #f54029;
  background-color: whitesmoke;
  border-radius: 40px;
  padding: 10px;
  width: 100%;
  height: 90%
}

.L-Landing-Inner-Container-Right {
  border: solid 5px #f54029;
  background-color: whitesmoke;
  border-radius: 40px;
  padding: 10px;
  width: 100%;
  height: 90%
}

.L-Landing-Inner-Container-Left:hover {
  border-color: whitesmoke;
  background-color: #f54029;
  color: whitesmoke;
}

.L-Landing-Inner-Container-Middle:hover {
  border-color: whitesmoke;
  background-color: #f54029;
  color: whitesmoke;
}

.L-Landing-Inner-Container-Right:hover {
  border-color: whitesmoke;
  background-color: #f54029;
  color: whitesmoke;
}

.L-Landing-Inner-Container-Middle:hover input {
  background-color: #f54029;
  border-color: white;
  color: whitesmoke;

}

.L-Landing-Inner-Container-Middle:hover input::placeholder {
  color: whitesmoke;
}

.L-Landing-Inner-Container-Right:hover input {
  background-color: #f54029;
  border-color: whitesmoke;
  color: whitesmoke;

}

.L-Landing-Inner-Container-Right:hover input::placeholder {
  color: whitesmoke;
}


.L-Address-Container {
  display: flex;
  flex-direction: column;
}

.L-Address-Container h1 {
  display: inline-block;
}

.L-Address-Container h5 {
  
  width: 130px;
  margin-left: auto;
  margin-right: auto;
}

.L-Landing-Page-Input{
  background-color: whitesmoke;
  border: solid 3px #f54029;
  border-radius: 10px;
  font-weight: bold;
  width: 50%;
  padding: 5px;
}

.L-Landing-Page-Input::placeholder {
  color: #f54029;
  font-weight: bold;
}


.L-Copied-Alert{
  height: 16px;
  animation: fadeIn 0.5s;
  border-radius: 5px;
  color: whitesmoke;
  margin: 0;
  cursor: pointer;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.L-Address {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  cursor: pointer;
  display: inline;
  border-radius: 5px;
  margin-bottom: 1px;
}



/*Vending Machine*/

.L-Vending {
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #FFB52E;
  position: absolute;
}

.L-Vending-Outer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 3%;
  margin-top: 3%;
  width: 55%;
  height: 90%;
  background-color: #f54029;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: solid #f54029 5px;
}

.L-Vending-Inner {
  height: 85%;
  width: 75%;
  background-color: #FFB52E;
  border-radius: 10px;
  padding-top: 5%;
  border: solid whitesmoke 5px;
  
}

.L-Home-Button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #f54029;
  border: solid whitesmoke 5px;
  color: whitesmoke;
  border-radius: 100px;
  font-family:'digital-7';
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.L-Home-Button:hover {
  background-color: whitesmoke;
  border-color: #f54029;
  color: #f54029;
}

.L-Withdraw-Button {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #f54029;
  border: solid whitesmoke 5px;
  color: whitesmoke;
  border-radius: 100px;
  font-family:'digital-7';
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.L-Contract-Information {
  border: solid 5px whitesmoke;
  background-color: #f54029;
  color: whitesmoke;
  width:300px;
  height: 90px;
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  top: 2%;
  right: 11%;
  text-align: center;
  cursor: pointer;
}

.L-Contract-Information:hover {
  background-color: whitesmoke;
  color: #f54029;
  border: solid 5px #f54029;
}

.L-Contract-Information h3 {
  margin-top: 0;
  margin-bottom: 0;
  
}


/*Interface*/

.L-Interface {
  height: 60%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  position: absolute;
  top: 18%;
  right: 8%;
  border: solid #FFB52E 5px;
  background-color: #f54029;
  padding: 60px;
  border-radius: 20px;
}

.L-Owner-Container {
  height: 60%;
  width: 20%;
  color: #f54029;
  background-color: #FFB52E;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  position: absolute;
  top: 18%;
  right: 8%;
  /* border: solid #f54029 5px; */
  padding: 60px;
  border-radius: 20px;
}

.L-Owner-Inner {
  border: solid #f54029 5px;
  padding: 30px;
  height: 86%;
  border-radius: 20px;
  background-color: whitesmoke;
}

.L-Owner-Inner:hover  {
  background-color: #f54029;
  color: whitesmoke;
  border: solid whitesmoke 3px;
}

.L-Withdraw {
  height: 60px;
  width: 150px;
  background-color: #f54029;
  border: solid whitesmoke 3px;
  border-radius: 30px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.L-Withdraw:hover {
  color: #f54029;
  background-color: whitesmoke;
  border-color: #f54029;
}

.L-Change-Display {
  font-family:'digital-7';
  background-color: whitesmoke;
  color: #f54029;
  border: solid #f54029 2px;
  width: 100px;
  height: 36px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 35px;
  padding: 0 4% 0 4%;
  text-align: center;
}

.L-Change-Display h4 {
  margin: 0;
  width: 100px;;
}

.L-InterfaceSmall {
  height: 140px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  border: solid #FFB52E 2px;
  border-radius: 10px;
  padding: 20px
}

.L-Display {
  font-family:'digital-7';
  background-color: whitesmoke;
  color: #f54029;
  border: solid #f54029 2px;
  width: 350px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  text-align: right;
  overflow: hidden;
  position: relative;
  font-size: 30px;
  padding: 4% 0 0 0;
  text-align: center;

}

.L-Display:hover {
  background-color: #f54029;
  color: whitesmoke;
}

.L-Display h3 {
  margin-bottom: 0;
}

.L-DisplaySmall {
  font-family:'digital-7';
  background-color: whitesmoke;
  color: #f54029;
  border: solid #f54029 0.5px;
  width: 100px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 3px;
  font-weight: bold;
  text-align: right;
  overflow: hidden;
  position: relative;
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
}

.L-Selection-Text-Moving {
  position: absolute;
  width: 500px;
  animation: Display 9s linear infinite;
  margin: 0
}

.L-Selection-Text-Moving-Longer {
  position: absolute;
  width: 800px;
  animation: DisplayLonger 8s linear infinite;
  margin: 0
}

.L-Selection-Text-Moving-Small {
  position: absolute;
  width: 150px;
  animation: Display 9.5s linear infinite;
  margin: 0;
  font-size: 9px;
}

.L-Selection-Text-Moving-Longer-Small {
  position: absolute;
  width: 150px;
  animation: Display 9s linear infinite;
  margin: 0
}

/* 
@keyframes Display {
  from {
    left: 120%;
  }
  to {
    left: -180%;
  }
} */

@keyframes DisplayLonger {
  from {
    left: 100%;
  }
  to {
    left: -300%;
  }
}

.L-Keypad {
  display: grid;
  gap: 5%;
  grid-template-columns: 30% 30% 30%;
  width: 350px;
  height: 100%;
  font-size: 30px;
  background-color: #FFB52E;
  padding: 10px;
  border-radius: 10px;
  /* border: solid #f54029 5px; */
}

.L-KeypadSmall {
  display: grid;
  gap: 5%;
  grid-template-columns: 30% 30% 30%;
  width: 100px;
  height: 125px;
  background-color: #FFB52E;
  padding: 5px;
  border-radius: 5px;
}

.L-Key {
  background-color: whitesmoke;
  color: #f54029;
  width: 100%;
  height: 100%;
  padding: 5%;
  text-align: center;
  border: solid #f54029 5px;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.L-Key:hover {
  background-color: #f54029;
  color: whitesmoke;
}

.L-KeySmall {
  background-color: whitesmoke;
  color: #f54029;
  width: 100%;
  height: 100%;
  padding: 5%;
  text-align: center;
  border: solid #f54029 2px;
  border-radius: 3px;
  font-weight: bold;
  font-size: smaller;
  cursor: pointer;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.L-KeySmall:hover {
  background-color: #f54029;
  color: whitesmoke;
}



/*Vending Items*/

.L-Vending-Items {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 25% 25% 25% 25%;
  width: 90%;
  height: 90%;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

.L-Item-Box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.L-Item-Container {
  background-color: white;
  width: 100px;
  height: 100px;
  padding: 5%;
  text-align: center;
  border: solid #f54029 3px;
  font-weight: bold;
  font-size: larger;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 2px
}
  
.L-Item {
  width: 100px;
  height: 100px;
  z-index: 0;
}

.L-Item:hover {
  color: #f54029
}

.L-ItemSelected-Container {
  background-color: whitesmoke;
  border: solid #f54029 5px;
  color: whitesmoke;
  width: 100px;
  height: 100px;
  padding: 5%;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: relative;
}

.L-Item-Number {
  border: solid #f54029 3px;
  background-color: whitesmoke;
  color: #f54029;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 2px 3px 4px 2px;
  float: left;
  position: absolute;
  top: 2px;
  left: 2px;
}

.L-ItemSelected-Number {
  border: solid #f54029 3px;
  background-color: #f54029;
  color: whitesmoke;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 2px 3px 4px 2px;
  float: left;
  position: absolute;
  top: 2px;
  left: 2px;
}

.L-Update-Price {
  border: solid #f54029 3px;
  background-color: whitesmoke;
  color: #f54029;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 2px 3px 4px 2px;
  float: right;
  position: absolute;
  bottom: 2px;
  right: 2px;
  cursor: pointer;
}

.L-Update-Price:hover {
  background-color: #f54029;
  color: whitesmoke;
}

.L-Item-Price{
  font-family: 'digital-7';
  border: solid #f54029 3px;
  background-color: whitesmoke;
  color: #f54029;
  border-radius: 100px;
  height: 22px;
  width: 60px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.L-Price-Input {
  font-family: 'digital-7';
  border: solid #f54029 3px;
  background-color: whitesmoke;
  color: #f54029;
  border-radius: 100px;
  height: 22px;
  width: 60px;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  padding: 2px 2px 2px 8px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.L-Price-Input::placeholder {
  font-family: 'digital-7';
  font-size: 22px;
  color: #f54029;
  padding-top: 2px;
}

.L-Price-Input:focus {
  outline:none;
}

.L-ItemSelected-Price{
  font-family: 'digital-7';
  border: solid #f54029 3px;
  background-color: #f54029;
  color: whitesmoke;
  border-radius: 100px;
  height: 22px;
  width: 60px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.L-Purchased-Items {
  height: 85%;
  width: 75%;
  background-color: #FFB52E;
  border-radius: 10px;
  padding-top: 5%;
  border: solid whitesmoke 5px;
}

.L-Purchased-Items-Outer {
  height: 100%;
  width: 100%;
  text-align: center;
}

.L-Purchased-Items-Inner {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  height: 90%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.L-No-Purchased-Items {
  margin-top: 35%;
  color: #f54029;
}

.L-Image {
  margin-bottom: 5%;
  margin-top: 5%;
  height: 100px;
  width: 100px;
  border: solid #f54029 5px;
  border-radius: 10px;
}



.L-Show-Items {
  height: 60px;
  width: 150px;
  background-color: whitesmoke;
  border: solid #FFB52E 3px;
  border-radius: 30px;
  color: #f54029;
  font-weight: bold;
  font-size: 16px;
}

.L-Show-Items:hover {
  height: 60px;
  width: 150px;
  background-color: #f54029;
  border: solid whitesmoke 3px;
  border-radius: 30px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.L-Item-Upload-Label {
  background-color: transparent;
  color: #f54029;
  width: 50%;
  height: 50%;
  font-size: 12px;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
}

