#root {
  height: 100vh;
  overflow: hidden;
 
}

html {
  height: 100%;
  overflow: hidden;
  
}

body {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

.Vending {
  margin-left: 10%;
  margin-top: 5%;
  width: 40%;
  height: 80%;
  background-color: #171717;
  padding: 2%;
  padding-right: 10%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.Vending-Inner {
  height: 95%;
  width: 95%;
  background-color: grey;
  margin-right: 30%;
  border-radius: 10px;
 
}

/*Interface*/

.Interface {
  height: 60%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  position: absolute;
  top: 20%;
  right: 10%;
}

.Display {
  border: solid black;
  width: 100%;
  height: 25%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.Keypad {
  display: grid;
  gap: 5%;
  grid-template-columns: 30% 30% 30%;
  width: 100%;
  height: 100%;
}

.Key {
  width: 100%;
  height: 100%;
  padding: 5%;
  text-align: center;
  border: solid black;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.Key:hover {
  background-color: #171717;
  color: whitesmoke;
}

