#root {
  height: 100vh;
  overflow: hidden;
 
}

html {
  height: 100%;
  overflow: hidden;
  
}

body {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  color: white;
}

.Heading-Text {
  color: #171717;
  font-size: 25px;
}

.Connect {
  width: 50%;
  height: 5%;
  background-color: whitesmoke;
  color: #171717;
  border-radius: 20px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.Enter {
  width: 50%;
  height: 5%;
  background-color: whitesmoke;
  color: #171717;
  border-radius: 20px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.Loader {
  border: solid whitesmoke 2px; 
  border-top: solid #171717;
  border-right: solid #171717; 
  border-left: solid #171717;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Landing Page*/

.Landing-Inner {
  height: 80%;
  width: 50%;
  border: solid #171717 2px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
}

.Vending {
  margin-left: 10%;
  margin-top: 5%;
  width: 40%;
  height: 80%;
  background-color: #171717;
  padding: 2%;
  padding-right: 10%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.Vending-Inner {
  height: 95%;
  width: 95%;
  background-color: whitesmoke;
  border-radius: 10px;
  padding-top: 5%;
 
}

/*Interface*/

.Interface {
  height: 60%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  position: absolute;
  top: 20%;
  right: 10%;
}

.Display {
  font-family:'digital-7';
  background-color: black;
  color: greenyellow;
  border: solid black;
  width: 350px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  text-align: right;
  overflow: hidden;
  position: relative;
  font-size: 30px;
  padding: 4% 0 0 0;
  text-align: center;

}

.Display h3 {
  margin-bottom: 0;
}

.Selection-Text-Moving {
  position: absolute;
  width: 500px;
  color: greenyellow;
  animation: Display 9.5s linear infinite;
  margin: 0
}

.Selection-Text-Moving-Longer {
  position: absolute;
  width: 800px;
  color: greenyellow;
  animation: Display 9s linear infinite;
  margin: 0
}

.Selection-Text-Moving-Third {
  position: absolute;
  width: 150%;
  color: greenyellow;
  animation: Display 9.5s linear infinite; 
  margin: 0
}

@keyframes Display {
  from {
    left: 120%;
  }
  to {
    left: -180%;
  }
}

.Keypad {
  display: grid;
  gap: 5%;
  grid-template-columns: 30% 30% 30%;
  width: 350px;
  height: 100%;
  font-size: 30px;
}

.Key {
  background-color: black;
  color: whitesmoke;
  width: 100%;
  height: 100%;
  padding: 5%;
  text-align: center;
  border: solid black;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.Key:hover {
  color: greenyellow;
}

/*Vending Items*/

.Vending-Items {
  display: grid;
  gap: 5%;
  grid-template-columns: 20% 20% 20% 20%;
  width: 90%;
  height: 80%;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

.Item {
  background-color: black;
  color: whitesmoke;
  width: 100%;
  height: 100%;
  padding: 5%;
  text-align: center;
  border: solid black;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.Item:hover {
  color: greenyellow
}

.ItemSelected {
  scale: 1.1;
  background-color: greenyellow;
  color: black;
  width: 100%;
  height: 100%;
  padding: 5%;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: relative;
}
